<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>手提课</title>
<meta http-equiv="content-type" content="text/htm" charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
<link rel="stylesheet" type="text/css" href="../../css/wxpublic/wxpublic.css"/>
<link rel="stylesheet" type="text/css" href="../../css/wxaudio/audioing.css"/>
</head>
<body>
<div class="wx_wrap">
	<div class="bg"></div>
	<div class="bgblack"></div>
	<header class="header">
		<div class="prev_btn">
			<a href="audioindex.html"></a>
		</div>
	</header>
	<section class="section">
		<div class="audio_center">
			<div class="audio_singer">
				<div class="singerimg anmiting">
					<img class="anmiting" src="../../img/audio/audio01.jpg"/>
				</div>
			</div>
		</div>
		<div class="lrc_mask">
			<div class="audio_lrc scroll">
				<ul>
					<li>字幕字幕字幕字幕</li>
				</ul>
			</div>
		</div>
	</section>
	<div class="sel_title">
		<h5>第一集 sandwich</h5>
		<h6>PEP小学英语单词 三年级上册 UNIT4</h6>
	</div>
	<div class="footer">
		<div class="foot_con">
	        <div class="process">
	            <span id="currentTime">00:00</span>
	            <div id="process-bar" class="scroll">
	                <div id="process-all"></div>
	                <div id="process-cur">
	                    <em id="cur-btn"></em>
	                </div>
	                <div id="process-ready"></div>
	            </div>
	            <span id="total-time">00:00</span>
	        </div>
	        <div class="loop"></div>
	        <div class="prev_btn" id="prev_btn"></div>
	        <div class="playing_btn" id="playing_btn"></div>
	        <div class="next_btn" id="next_btn"></div>
	        <div class="music_menu" data-onoff="false"></div>
	    </div>
		<div class="audiohide">
	    	<audio autoplay="autoplay" id="audio" src="../../music/薛之谦 - 你还要我怎样.mp3">
	    		
	    	</audio>
	    </div>
	</div>

</div>
<div class="mask_list">
	<div class="mask_cose">
		<h6>课程列表<span>（20集）</span></h6>
		<div class="list_con">
			<ul class="scroll">
    			<li class="audio_active">
    				<a href="javascript:;">
						<div class="lis ellipsis">第一集 加法：不定位加法</div>
						<i></i>
					</a>
    			</li>
				<li>
					<a href="javascript:;">
						<div class="lis ellipsis">第二集 加法：不定位加法</div>
						<i></i>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<div class="lis ellipsis">第三集 加法：不定位加法</div>
						<i></i>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<div class="lis ellipsis">第四集 加法：不定位加法</div>
						<i></i>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<div class="lis ellipsis">第五集 加法：不定位加法</div>
						<i></i>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<div class="lis ellipsis">第六集 加法：不定位加法</div>
						<i></i>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<div class="lis ellipsis">第七集 加法：不定位加法</div>
						<i></i>
					</a>
				</li>
			</ul>
		</div>
		<div class="lists_close">关闭</div>
	</div>
</div>
</body>
</html>
<script type="text/javascript" src="../../jscript/jquery-2.0.3.js"></script>
<script type="text/javascript" src="../../js/wxpublic.js"></script>
<script type="text/javascript" src="../../jscript/move.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="../../js/audio.js"></script>
<!--<script type="text/javascript" src="../../js/stopscroll.js"></script>-->
