<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<title>手提课</title>
<meta http-equiv="content-type" content="text/htm" charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
<link rel="stylesheet" type="text/css" href="../../css/wxpublic/wxpublic.css"/>
<link rel="stylesheet" type="text/css" href="../../css/wxpublic/menu_public.css"/>
<link rel="stylesheet" type="text/css" href="../../css/stkxx.css"/>
<link rel="stylesheet" type="text/css" href="../../css/wxpublic/wxfooter.css"/>
<link rel="stylesheet" type="text/css" href="../../css/wxaudio/audioindex.css"/>
</head>
<body>
<div class="wx_wrap" style="padding-top: 0;">
	
	<div class="banner_wrap">
		<div class="wx_banner">
			<div class="banner_box">
				<div class="banner_con">
			        <div class="banner_list">
			        	<a href="javascript:;">
			        		<img src="../../img/audio/mp.jpg" />
			        	</a>
			        </div>
			        
			    </div>
			</div>
		</div>
		<div class="banner_mask"></div>
	</div>
	<div class="wx_nav">
		<div class="nav_menu">
			<div class="nav_list" data-onoff="false">
				<span>全部</span>
				<i></i>
			</div>
			
			<div class="nav_list" data-onoff="false">
				<span>全部</span>
				<i></i>
			</div>
		</div>
		<div class="nav_wrap">
			<div class="menu_con">
				<ul class="items clearfix">
					<li class="menu_active"><a href="javascript:;">课程朗读</a></li>
					<li><a href="javascript:;">人文知识</a></li>
				</ul>
			</div>
			<div class="menu_con">
				<ul class="items clearfix">
					<li class="nav_active"><a href="javascript:;">语文</a></li>
					<li><a href="javascript:;">英语</a></li>
					<li><a href="javascript:;">素质课程</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="audio_con">
		<div class="items">
			<a href="audioing.html">
				<div class="audio_img">
					<img src="" alt="" />
				</div>
				<div class="audio_xq">
					<h5 class="ellipsis">PEP小学英语单词课 三年级上册 UNIT4</h5>
					<div class="audio_pon">
						<span>主讲人：胡灿奎</span>
						<span>播放次数：500</span>
					</div>
				</div>
				<i class="audio_btn"></i>
			</a>
		</div>
		<div class="items">
			<a href="javascript:;">
				<div class="audio_img">
					<img src="" alt="" />
				</div>
				<div class="audio_xq">
					<h5 class="ellipsis">PEP小学英语单词课 三年级上册 UNIT4</h5>
					<div class="audio_pon">
						<span>主讲人：胡灿奎</span>
						<span>播放次数：500</span>
					</div>
				</div>
				<i class="audio_btn"></i>
			</a>
		</div>
		<div class="items">
			<a href="javascript:;">
				<div class="audio_img">
					<img src="" alt="" />
				</div>
				<div class="audio_xq">
					<h5 class="ellipsis">PEP小学英语单词课 三年级上册 UNIT4</h5>
					<div class="audio_pon">
						<span>主讲人：胡灿奎</span>
						<span>播放次数：500</span>
					</div>
				</div>
				<i class="audio_btn"></i>
			</a>
		</div>
		<div class="items">
			<a href="javascript:;">
				<div class="audio_img">
					<img src="" alt="" />
				</div>
				<div class="audio_xq">
					<h5 class="ellipsis">PEP小学英语单词课 三年级上册 UNIT4</h5>
					<div class="audio_pon">
						<span>主讲人：胡灿奎</span>
						<span>播放次数：500</span>
					</div>
				</div>
				<i class="audio_btn"></i>
			</a>
		</div>
		<div class="items">
			<a href="javascript:;">
				<div class="audio_img">
					<img src="" alt="" />
				</div>
				<div class="audio_xq">
					<h5 class="ellipsis">PEP小学英语单词课 三年级上册 UNIT4</h5>
					<div class="audio_pon">
						<span>主讲人：胡灿奎</span>
						<span>播放次数：500</span>
					</div>
				</div>
				<i class="audio_btn"></i>
			</a>
		</div>
		<div class="items">
			<a href="javascript:;">
				<div class="audio_img">
					<img src="" alt="" />
				</div>
				<div class="audio_xq">
					<h5 class="ellipsis">PEP小学英语单词课 三年级上册 UNIT4</h5>
					<div class="audio_pon">
						<span>主讲人：胡灿奎</span>
						<span>播放次数：500</span>
					</div>
				</div>
				<i class="audio_btn"></i>
			</a>
		</div>
	</div>
	
	<!--footer 导航-->
    <footer class="footer">
    	<div class="foot_nav">
    		<a class="footlist foot_active" href="../../index.html">
    			<i class="nav_icon"><b></b></i>
    			<span>课程首页</span>
    		</a>
    		<a class="footlist" href="audioindex.html">
    			<i class="nav_icon"><b></b></i>
    			<span>音频</span>
    		</a>
    		<a class="footlist" href="../wxfp/wxfpindex.html">
    			<i class="nav_icon"><b></b></i>
    			<span>教育扶贫</span>
    		</a>
    		<a class="footlist" href="../spokesman/wxspokesman.html">
    			<i class="nav_icon"><b></b></i>
    			<span>代言人</span>
    		</a>
    		<a class="footlist" href="../wxmaterial.html">
    			<i class="nav_icon"><b></b></i>
    			<span>个人中心</span>
    		</a>
    	</div>
    	
    </footer>
</div>
</body>
</html>
<script type="text/javascript" src="../../jscript/jquery-2.0.3.js"></script>
<script type="text/javascript" src="../../js/wxpublic.js"></script>
<script type="text/javascript" src="../../js/menu_public.js"></script>