<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>手提课</title>
<meta http-equiv="content-type" content="text/htm" charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
<link rel="stylesheet" type="text/css" href="../../css/wxpublic/wxpublic.css" />

<link rel="stylesheet" type="text/css" href="../../content/swiper.min.css"/>
<link rel="stylesheet" type="text/css" href="../../css/spokesman/wxaboutspokesman.css"/>
</head>
<body>
<div class="swiper-container wx_wrap">
	<ol class="swiper-wrapper wrapper">
		<li class="swiper-slide con">
			<div class="okimg">
				<p><img src="../../img/wxabout/daiyanren01.png" alt="" /></p>
			</div>
			<div class="oknav">
				<div class="oklist">
					<img src="../../img/wxabout/wxabout01.png"/>
				</div>
			</div>
			<div class="oktabscon">
				<h6>成为代言人</h6>
				<div class="oktabs">
					<p>关注进入手提课K12公众号，绑定手机号点击成为代言人。</p>
				</div>
			</div>
			
		</li>
		<li class="swiper-slide con">
			<div class="okimg">
				<p><img src="../../img/wxabout/daiyanren02.png" alt="" /></p>
			</div>
			<div class="oknav">
				<div class="oklist">
					<img src="../../img/wxabout/wxabout02.png"/>
				</div>
			</div>
			<div class="oktabscon">
				<h6>分享给好友</h6>
				<div class="oktabs">
					<p>浏览微信端网页，分享链接给好友或朋友圈，好友通过点击链接成为学员。</p>
				</div>
			</div>
		</li>
		<li class="swiper-slide con">
			<div class="okimg">
				<p><img src="../../img/wxabout/daiyanren03.png" alt="" /></p>
			</div>
			<div class="oknav">
				<div class="oklist">
					<img src="../../img/wxabout/wxabout03.png"/>
				</div>
			</div>
			<div class="oktabscon">
				<h6>获得收益</h6>
				<div class="oktabs">
					<p>学员在网站的任何消费，你都可以获得收益，收益可用于提现。</p>
					<div class="dyrxq">
						<a href="wxmydaiyrxq.html">代言人详情</a>
						<a href="wxspokephone.html">立即加入</a>
					</div>
				</div>
			</div>
			
		</li>
		
	</ol>
	<div class="swiper-pagination listjd"></div>
</div>
</body>
</html>
<script type="text/javascript" src="../../jscript/jquery-2.0.3.js"></script>
<script type="text/javascript" src="../../jscript/swiper.jquery.min.js"></script>
<script type="text/javascript" src="../../js/wxpublic.js"></script>
<script type="text/javascript">
$(document).ready(function () {

	var mySwiper = new Swiper('.swiper-container',{
//		direction: 'vertical', //滑动的方向 veertical是竖着滑动 默认是横着
//      hashnav:false,
		loop: true,
	    pagination : '.swiper-pagination',  //分页器 焦点
	    paginationClickable: true,
		effect:"flip"                          //3d切换
	});
	
});

</script>
