<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>手提课</title>
<meta http-equiv="content-type" content="text/htm" charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
<link rel="stylesheet" type="text/css" href="../../css/wxpublic/wxpublic.css" />
<link rel="stylesheet" type="text/css" href="../../css/spokesman/wxmydaiyr.css"/>
</head>
<body>
<div class="wx_wrap">
	<header class="header">
		<h5>
			<span>学员名单</span>
			<span>共计：3人</span>
		</h5>
	</header>
	<section class="section">
		<ul>
			<li>
				<p>
					<b><img src="" alt="" /></b>
					<span class="ellipsis">猫了个牛牛</span>
				</p>
				<em>2017/02/22</em>
			</li>
			<li>
				<p>
					<b><img src="" alt="" /></b>
					<span class="ellipsis">六条眉毛</span>
				</p>
				<em>2017/11/11</em>
			</li>
			<li>
				<p>
					<b><img src="" alt="" /></b>
					<span class="ellipsis">六条眉毛2号</span>
				</p>
				<em>2017/02/21</em>
			</li>
		</ul>
	</section>
</div>	
</body>
</html>
<script type="text/javascript" src="../../js/wxpublic.js"></script>