<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>手提课</title>
<meta http-equiv="content-type" content="text/htm" charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
<link rel="stylesheet" type="text/css" href="../../css/wxpublic/wxpublic.css" />
<link rel="stylesheet" type="text/css" href="../../css/spokesman/wxspokesok.css"/>
</head>
<body>
<div class="wx_wrap">
	<div class="okimg">
		<p><img src="../../img/wxabout/fanhui.png" alt="" /></p>
	</div>
	<div class="return_spokes">
		<a href="wxspokesman.html">返回代言人中心</a>
	</div>
</div>
</body>
</html>
<!--<script type="text/javascript" src="../../jscript/jquery-2.0.3.js"></script>-->
<script type="text/javascript" src="../../js/wxpublic.js"></script>
